.button_outlined {
  border: 2px solid #FFFFFF;
  margin: 15px 0 0 2px;
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;

  font-family: "Gilroy";
  font-weight: bold;
  padding: 4px 30px;
  font-size: .8em;
  cursor: pointer;

  transition: .1s all;

  &:hover {
    transform: translateY(-5px);
    background-color: #FFFFFF;
    color: #2A5C70;
  }
}