.nav {
  position: fixed;
  top: 50px;
  left: 50px;
  right: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  z-index: 10;
}

.left {
  img {
    height: 60px;
    display: block;
  }
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  a {
    font-size: 90%;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    cursor: pointer;
    display: block;
  }
}